.NavbarDiscover {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 1rem;
  margin-top: 20px;
}

.normalBtn {
  font-weight: bold;
  color: white;
  background-color: #ffb566;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}

/* .NavbarDiscover button:Active {
  text-decoration: none;
  font-weight: bold;
  background-color: #fb9223;
} */

.NavbarDiscover button:hover {
  text-decoration: none;
  font-weight: bold;
  background-color: #fb9223;
}

.active {
  background-color: #fb9223;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: bold;
}